.p-header {
    padding: 2px 0;
    margin: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.p-header__filters {
    display: flex;
}

.p-header__filter-btn {
    margin-right: 12px;
}

.p-header__sort {
    display: flex;
    align-items: center;
}

.p-header__sort-title {
    margin: 0 5px 0;

    font: 20px 'Oswald';
}