.extra-catalog_size_l {
  width: 100%;
  
  .extra-catalog__title {
    position: relative;
    margin: 0 0 81px;
    font: 36px "Oswald";

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 30px;

      height: 2px;
      width: calc(50% - 610px);

      background-color: #68b738;
    }

    &::before {
      content: "";
      position: absolute;
      top: 30px;

      height: 2px;
      width: calc(50% - 650px);

      background-color: #68b738;
    }
  }

  .extra-catalog__title-text {
    margin: 0 auto;
    width: 1220px;
    display: flex;

    white-space: nowrap;

    &::after {
      content: "";
      margin-top: 30px;
      margin-left: 40px;
      height: 2px;
      width: 100%;

      background-color: #68b738;
    }
  }

  .extra-catalog__container {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .extra-catalog__products {
    margin: 0;
    padding: 0;
    width: 896px;

    list-style: none;
    border-top: 1px solid #cdcdcd;
  }

  .extra-catalog__promo {
    width: 280px;
    height: 288px;

    background: url("/images/icon-gift.svg") no-repeat,
      url("/images/gift-photo-desktop@2x.jpg") no-repeat;

    background-size: 60px, cover;
    background-position: center top 58px, top;
  }

  .extra-catalog__promo-text {
    padding-top: 186px;
    margin: 0 auto;
    width: 161px;

    text-align: center;
    font: 16px "Arial";
    line-height: 20px;
    color: #fff;
  }
}

.extra-catalog_size_l {
  .product__inner {
    height: 70px;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #cdcdcd;
  }

  .product__details {
    display: flex;
    align-items: flex-end;
  }

  .product__name {
    margin: 0;
    width: 324px;

    text-transform: uppercase;
    font: 16px "Oswald";
    line-height: 16px;
  }

  .product__package {
    margin: 0;
    width: 244px;

    color: #444;
    font: 12px "Arial";
  }

  .product__price {
    margin: 0;
    width: 82px;

    color: #444;
    font: 12px "Arial";
  }

  .product__link {
    width: 244px;
  }
}
