.objectives_size_m {
  .objectives__item {
    padding: 77px 280px 53px 53px;
    background-color: #f2f2f2;

    &::before {
      position: absolute;
      right: 62px;
      top: calc(50% - 200px / 2);
      
      content: '';
      height: 200px;
      width: 200px;

      border-radius: 50%;
      background-color: #68b738;
    }
  }

  .objectives__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .objectives__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .objectives__title {
    margin: 0 0 24px 0;

    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
  }

  .objectives__text {
    position: relative;

    margin: 0 0 48px 0;

    color: #444;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .objectives__link {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
  }
}

.objectives_size_m {
  .objectives__item_icon_slim {
    position: relative;
    &::after {
      position: absolute;
      right: 92px;
      top: calc(50% - 224px / 2);

      content: '';
      height: 192px;
      width: 140px;

      background: url('/images/icon-cat-slim.svg') no-repeat;
    }
  }

  .objectives__item_icon_pro {
    padding-right: 316px;
    position: relative;
    &::after {
      position: absolute;
      right: 28px;
      top: calc(50% - 112px / 2);

      content: '';
      height: 112px;
      width: 268px;

      background: url('/images/icon-cat-pro.svg') no-repeat;
    }
  }
}
