.footer_size_s {
  .footer__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;

    border-bottom: 2px solid #d9d9d9;
  }

  .footer__socials-list {
    display: grid;
    column-gap: 36px;
    grid-auto-flow: column;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    height: 63px;
    margin: 0;
    padding: 0;

    list-style: none;
    border-bottom: 2px solid #d9d9d9;
  }

  .footer__academy {
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font: 16px Arial;
    color: #444444;

    border-bottom: 2px solid #d9d9d9;
  }
}
