.catalog-page_size_s {
  min-width: 320px;

  .catalog-page__header {
    margin-bottom: 27px;
  }

  .catalog-page__catalog {
    margin-bottom: 27px;
  }

  .catalog-page__extra-catalog {
    margin-bottom: 35px;
  }

  .catalog-page__partnership {
    background-color: #f2f2f2;
  }

  .catalog-page__footer-wrapper {
    padding: 0 20px;

    background-color: #f2f2f2;
  }
}
