.pet-form-page_size_m {
  min-width: 768px;
  margin-top: 24px;

  .pet-form-page__header {
    margin: 0 30px 62px;
  }

  .pet-form-page__form {
    margin-bottom: 72px;
  }

  .pet-form-page__partnership {
    background-color: #f2f2f2;
  }

  .pet-form-page__footer-wrapper {
    padding: 0 30px;

    background-color: #f2f2f2;
  }
}
