.banner_size_s {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: image-set(
      url('/images/index-background-mobile@1x.jpg') 1x,
      url('/images/index-background-mobile@2x.jpg') 2x
    ),
    linear-gradient(#63a73a, #63a73a);
  background-position: center top;
  background-size: auto 305px, auto 305px;
  background-repeat: no-repeat;

  .banner__title {
    width: 250px;
    margin-bottom: 25px;

    line-height: 36px;
    text-align: center;
    color: #fff;
    font-family: 'Oswald';
    font-size: 36px;
    font-weight: 400;
  }

  .banner__slogan {
    margin-bottom: 29px;

    text-transform: uppercase;
    color: #fff;
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 400;
  }

  .banner__img {
    position: relative;
    margin-bottom: 3px;

    width: 280px;
    height: 270px;
  }

  .banner__link {
    width: 280px;
  }
}