@mixin module {

  .check-btn_size_m {

    .check-btn__ctrl {
      width: 40px;
      height: 40px;
    }

    &.check-btn_is-checked {
      .check-btn__ctrl::after {
        position: absolute;
        left: (40px - 40px * 0.45) / 2;
        top: (40px - 40px * 0.45) / 2;

        content: "";
        width: 40px * 0.45;
        height: 40px * 0.45;

        border-radius: 50%;
        background-color: #68b738;
      }
    }

    .check-btn__label {
      margin-left: 20px;

      color: #222;
      font: 20px "Oswald";
    }
  }
}