@mixin title-line() {
  display: flex;
  margin: 0;
  white-space: nowrap;
  
  font: 36px 'Oswald';

  &::after {
    margin-top: 30px;
    margin-left: 40px;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #68B738;
  }
  &::before {
    margin-top: 30px;
    margin-right: 40px;
    content: '';
    height: 2px;
    min-width: 30px;
    background-color: #68B738;
  }
}

.pet-form_size_m {
  min-width: 770px;

  .pet-form__title {
    margin: 0 30px 54px;

    font: 60px 'Oswald';
  }

  .pet-form__text {
    margin: 0 70px 66px;
    width: 323px;

    text-transform: uppercase;
    font: 20px 'Oswald';
    line-height: 30px;
  }

  .pet-form__pet-data {
    margin: 0 70px 70px;
    display: grid;
    row-gap: 20px;
  }

  .pet-form__goals {
    padding: 25px 28px;
    margin: 0 70px 75px;
    display: grid;
    row-gap: 13px;

    border: 1px solid #d9d9d9;
  }

  .pet-form__contacts-title {
    @include title-line();

    margin-bottom: 76px;
  }

  .pet-form__contacts {
    display: grid;
    row-gap: 20px;
    margin: 0 70px 65px;
  }

  .pet-form__comment-title {
    @include title-line();

    margin-bottom: 76px;
  }

  .pet-form__comment {
    margin: 0 70px 27px;
    width: calc(100% - 140px);
    height: 174px;
  }

  .pet-form__extra-title {
    @include title-line();

    margin-bottom: 76px;
  }

  .pet-form__extra-products {
    margin: 0 70px 54px;
    display: grid;
    grid-template-columns: 280px 280px;
    row-gap: 32px;
    column-gap: 60px;
  }

  .pet-form__container-2{
    display: flex;
    align-items: center;
    margin: 0 0 72px 70px;
  }

  .pet-form__submit-btn {
    margin-right: 60px;
    width: 280px;
  }

  .pet-form__postscript {
    margin: 0;

    font: 14px 'Arial';
  }
}
